@import "tailwindcss";

@theme {
  --color-grey-15: #262625;
  --color-white-97: #f7f7f8;
  --color-white-95: #f1f1f3;
  --color-white-99: #fcfcfd;
  --color-orange-50: #ff9500;
  --color-orange-90: #ffeacc;
  --color-orange-70: #ffbf66;
  --color-orange-75: #ffca80;
  --color-orange-97: #fff9f0;
  --font-dmSans: "DM Sans", sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-dmSans text-grey-15 bg-white-97;
  }
}

@layer utilities {
  .container {
    @apply px-4 mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1130px] 2xl:max-w-[1380px];
  }
  button {
    @apply cursor-pointer block;
  }
  p {
    @apply text-sm md:text-base lg:text-lg leading-normal;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold text-balance leading-tight;
  }
  .section {
    @apply pt-20 lg:mt-32;
  }
  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }
  h4 {
    @apply text-2xl lg:text-[22px];
  }
}

@layer components {
  .primary-btn {
    @apply bg-orange-50 text-white px-8 py-4 rounded-lg font-semibold hover:bg-orange-50/80 transition-colors;
  }
  .secondary-btn {
    @apply px-8 py-4 bg-white border border-white-95 rounded-md hover:bg-orange-90 transition-colors;
  }
  .play-btn {
    animation: 2s pulseAni ease infinite;
  }
  @keyframes pulseAni {
    0% {
      box-shadow: 0 0 0 white;
    }
    100% {
      box-shadow: 0 0 0 20px transparent;
    }
  }
}

.navbar {
  @apply lg:hidden flex justify-center items-center bg-white fixed top-0 left-0 h-screen w-full z-40 translate-y-full transition-transform flex-col;
}
.navbar.active{
  @apply translate-y-0;
}
